{
    "development": {
        "tmdbBaseURL": "https://api.themoviedb.org",
        "tmdbAPIKey": "YOUR_TMDB_API_KEY_HERE",
        "youtubeBaseURL": "https://www.youtube.com/embed",
        "youtubeAPIKey": "YOUR_YOUTUBE_API_KEY_HERE",
        "youtubeSearchURL": "https://www.googleapis.com/youtube/v3/search",
        "enableLogging": true,
        "cacheTimeout": 300
    },
    "production": {
        "tmdbBaseURL": "https://api.themoviedb.org",
        "tmdbAPIKey": "YOUR_TMDB_API_KEY_HERE",
        "youtubeBaseURL": "https://www.youtube.com/embed",
        "youtubeAPIKey": "YOUR_YOUTUBE_API_KEY_HERE",
        "youtubeSearchURL": "https://www.googleapis.com/youtube/v3/search",
        "enableLogging": false,
        "cacheTimeout": 600
    }
}
